<!-- Contact me page -->
<div class="container text-center">
  <div class="container border-dark-yazz rounded-3 h-100 w-75 bg-white shadow shadow-lg">
    <h1 class="text-primary mb-0 mt-2">Contact Me</h1>
    <div class="d-flex flex-column">
      <input type="text" class="form-control mt-2" [placeholder]="'full name'" required>
      <input type="email" class="form-control mt-2" [placeholder]="'email address'" required>
      <textarea class="mt-2 form-controlr" rows="7" [placeholder]="' your message...'"></textarea>
    </div>
    <button class="btn btn-primary mt-2 mb-2">Send</button>
  </div>
</div>
