<div class="h-100 d-flex flex-column justify-content-around align-items-center">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <h1 class="text-primary text-center">JavaScript30</h1>
    <button class="btn btn-primary" (click)="goToProject('javascript30')">View</button>
  </div>

  <div class="d-flex flex-column justify-content-center align-items-center">
    <h1 class="text-primary text-center">Chess Board Experience</h1>
    <button class="btn btn-primary" (click)="goToProject('chess-board')">View</button>
  </div>
</div>
