<div class="d-flex justify-content-around align-items-start" style="width: 100%; height: 100%">
  <div class="w-25 d-flex flex-column justify-content-end align-items-center h-100">
    <div class="d-flex flex-column justify-content-start align-items-center h-75 first-child fadeInBottom">
      <h1 class="yazz-white">Yazeed Idris</h1>
      <p class="yazz-secondary">
        I am a software engineering student at King Fahd University of Petroleum and Minerals.
        I am also in love with web development and everything that is related to it. For that reason I made Yazz.tech,
        which
        should show the visitor everything I make or learn regarding web development.
      </p>
    </div>
  </div>
  <div class="w-25 d-flex flex-column justify-content-start align-items-center h-100">
    <div class="d-flex flex-column justify-content-end align-items-center h-75 second-child fadeInTop">
      <h1 class="yazz-white">My Journey</h1>
      <p class="yazz-secondary">
        My journey in the tech world started in 2017 when I was accepted into KFUPM, that year changed my whole life.
        After
        I finished the first year, I took my first programming course, it was all about Java. I didn't care much about
        it,
        but when I really understood the language I loved it. from that point forward, I invested a lot of my time in
        learning more about programming, and with the help of the courses I took in software engineering and computer
        science, I was able to become a better programmer and a software engineer. On my last year, I took the senior
        project course and our project won the first prize at the university expo.
      </p>
    </div>
  </div>
  <div class="w-25 d-flex flex-column justify-content-end align-items-center h-100">
    <div class="d-flex flex-column justify-content-start align-items-center h-75 third-child fadeInBottom-delayed">
      <h1 class="yazz-white">Future Plans</h1>
      <p class="yazz-secondary">
        I am planning to gain more experience at software engineering and web development in particular. I am also
        planning
        to gain more experience in managing software projects. As for my website, I plan to use it as a platform to
        share
        my
        knowledge and progress in my voyage in the tech world.
      </p>
    </div>
  </div>
</div>
