<div class="d-flex justify-content-around align-items-center" style="width: 100%">
  <div>
    <h1 class="text-primary">Yazeed Idris</h1>
    <p class="text-secondary">
      I am a software engineering student at King Fahd University of Petroleum and Minerals.
      I am also in love with web development and everything that is related to it. For that reason I made Yazz.tech,
      which
      should show the visitor everything I make or learn regarding web development.
    </p>
  </div>
  <div>
    <h1 class="text-primary">My Journey</h1>
    <p class="text-secondary">
      My journey in the tech world started in 2017 when I was accepted into KFUPM, that year changed my whole life.
      After
      I finished the first year, I took my first programming course, it was all about Java. I didn't care much about it,
      but when I really understood the language I loved it. from that point forward, I invested a lot of my time in
      learning more about programming, and with the help of the courses I took in software engineering and computer
      science, I was able to become a better programmer and a software engineer. On my last year, I took the senior
      project course and our project won the first prize at the university expo.
    </p>
  </div>
  <div>
    <h1 class="text-primary">Future Plans</h1>
    <p class="text-secondary">
      I am planning to gain more experience at software engineering and web development in particular. I am also
      planning
      to gain more experience in managing software projects. As for my website, I plan to use it as a platform to share
      my
      knowledge and progress in my voyage in the tech world.
    </p>
  </div>
</div>
