<!--<div class="yazz-box">-->
<!--  <div class="yazz-row yazz-header">-->
<!--    <div>-->
<!--      <app-top-navbar></app-top-navbar>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="yazz-row yazz-content">-->
<!--    <div class="d-flex align-items-center flex-column justify-content-center text-center h-100">-->
<!--        <router-outlet></router-outlet>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div class="d-flex justify-content-center align-items-center h-100 body">
  <div class="wrap" #navigationWrapper>
    <a routerLinkActive="active" routerLink="about">
      <div class="d-flex justify-content-center align-items-center">
        <h1 class="text-white">About</h1>
      </div>
    </a>

    <a routerLinkActive="active" routerLink="projects">
      <div class="d-flex justify-content-center align-items-center">
        <h1 class="text-white">Projects</h1>
      </div>
    </a>

    <a routerLinkActive="active" routerLink="suggestions">
      <div class="d-flex justify-content-center align-items-center">
        <h1 class="text-white">Suggestions</h1>
      </div>
    </a>

    <a routerLinkActive="active" routerLink="contact">
      <div class="d-flex justify-content-center align-items-center">
        <h1 class="text-white">Contact</h1>
      </div>
    </a>

    <a routerLinkActive="active" routerLink="">
      <div class="d-flex justify-content-center align-items-center">
        <h1 class="text-white">Yazeed.tech</h1>
      </div>
    </a>
  </div>
  <router-outlet></router-outlet>
</div>


