.body {
  background-color: #DBF5F0;
}

.active {
  background-color: #0C6170;
}

$navigation-size: 80vmin;

.wrap{
  position:fixed;
  width:$navigation-size; height:$navigation-size;
  //margin:0 auto;
  background: transparent;
  transform:scale(.8) translateZ(0px);
  transition: .5s;
}


.wrap.shrink {
  $shrink-factor: 0.24;
  transform:scale($shrink-factor);
  margin-left: calc(-100vw + $shrink-factor*$navigation-size + 20px);
  margin-top: calc(-100vh + $shrink-factor*$navigation-size + 20px);
}

.wrap a {
  transform:scale(1) translatez(0px);
}
a{
  position:fixed;
  left:0; top:0;
  width:50%; height:50%;
  overflow:hidden;
  transform:scale(.5) translateZ(0px);
  background: rgba(34, 101, 92, 0.8);
  text-decoration: none;
}
a div{
  height:100%;
  background-size:cover;
  border-radius:inherit;
}
a:nth-child(1){
  border-radius:40vmin 0 0 0;
  transform-origin: 110% 110%;
  transition:transform .4s;
}
a:nth-child(2){
  border-radius:0 40vmin 0 0;
  left:52.5%;
  transform-origin: -10% 110%;
  transition:transform .4s;
}
a:nth-child(3){
  border-radius:0 0 0 40vmin;
  top:52.5%;
  transform-origin: 110% -10%;
  transition:transform .4s;
  h1 {
    margin-top: 0.8rem;
  }
}
a:nth-child(4){
  border-radius:0 0 40vmin 0;
  top:52.5%; left:52.5%;
  transform-origin: -10% -10%;
  transition:transform .4s;
  h1 {
    margin-top: 0.8rem;
  }
}
a:nth-child(5){
  width:52%;height:52%;
  left:25%; top:25%;
  border-radius:50vmin;
  box-shadow:0 0 0 5vmin transparent;
  transform:scale(1);
  background-color: #06333b;
  background-size: cover;
  transition: transform .4s, width .4s, height .4s;
}

a:hover div{
  transform:translatez(0px);
}
a:nth-child(1):hover, a:nth-child(2):hover, a:nth-child(3):hover, a:nth-child(4):hover, a:nth-child(5):hover {
  transform: scale(1.05);
}

h1 {
  font-size: 2.8rem;
}

@media (max-width: 740px) {
  h1 {
    font-size: 2.6rem;
  }
}
@media (max-width: 640px) {
  h1 {
    font-size: 2.2rem
  }
}

@media (max-width: 540px) {
  h1 {
    font-size: 2rem
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.8rem
  }
}

@media (max-width: 440px) {
  h1 {
    font-size: 1rem
  }
}
