:host {
  height: 100%;
  width: 100%;
}
//.cdk-drag-placeholder {
//  opacity: 0;
//}

.cdk-drop-list-dragging {
  background-color: red !important;
}

.cdk-drop-list-dragging > *:first-child {
  display: none;
  opacity: 0;
}
