<div class="d-flex justify-content-center align-items-center h-100">
  <div class="border-3 border border-dark" cdkDropListGroup>
    <div *ngFor="let row of board; let i = index" style="height: 100px; width: 100%" class="d-flex">
      <div *ngFor="let col of row; let j = index"
           [ngClass]="{'bg-success': ((i%2 === 0 && j%2 === 0) || (i%2 !== 0 && j%2 !== 0))}"
           style="height: 100px; width: 100px" class="d-flex justify-content-center align-items-center"
           (cdkDropListDropped)="pieceMoved($event)" cdkDropList [cdkDropListData]="board[i][j]">
        <div cdkDrag [cdkDragData]="piece" *ngFor="let piece of board[i][j]">
          <app-chess-piece [pieceChoice]="piece.pieceChoice" ></app-chess-piece>
        </div>
      </div>
    </div>
  </div>
</div>

