//:host {
//  //height: 100%;
//  width: 100%;
//}
.yazz-cards-container {
  border: #0c6070 10px solid;
  padding: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  //width: clamp(300px, 75%, 2000px);
}

.card {
  margin: 10px;
  background-color: #37BEB0;
  border-radius: 25px;
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  h1{
    color: #fff;
    margin: 0;
    display: inline;
    font-size: 100%;
  }
}
