/* You can add global styles to this file, and also import other style files */

$primary: #37BEB0;

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.btn-primary, .btn-primary:active, .btn-primary:visited, .btn-primary:disabled {
  background-color: #37BEB0 !important;
  color: #DBF5F0 !important;
}

.btn-primary:hover {
  background-color: #0C6170 !important;
  color: #DBF5F0 !important;
}

@font-face {
  font-family: "Poppins";
  src: local('Poppins'), url("./assets/fonts/Poppins/Poppins-Regular.ttf");
}
body {
  height: 100vh !important;
}

* {
  font-family: Poppins, sans-serif;
}
//
//html {
//  font-size: 1vh;
//}
//
//@include media-breakpoint-up(sm) {
//  html {
//    font-size: 1.2rem;
//  }
//}
//
//@include media-breakpoint-up(md) {
//  html {
//    font-size: 1.4rem;
//  }
//}
//
//@include media-breakpoint-up(lg) {
//  html {
//    font-size: 1.6rem;
//  }
//}
