/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@font-face {
  font-family: "Poppins";
  src: local('Poppins'), url("./assets/fonts/Poppins/Poppins-Regular.ttf");
}

body {
  height: 100vh !important;
}

* {
  font-family: Poppins, sans-serif;
}
